<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User List</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('partials/nav') %>
    <div class="container mt-5">
      <h2 class="mb-3">User List</h2>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <!-- Add more columns based on your User entity -->
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user => { %>
          <tr>
            <td><%= user._id %></td>
            <td><%= user.username %></td>
            <!-- Add more columns based on your User entity -->
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
