<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <%- include('partials/nav') %>
    <div class="container">
      <h2 class="mb-3">Login</h2>
      <form id="loginForm" action="/auth/login" method="post" class="mb-4">
        <div class="form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
          />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <div class="input-group">
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
            />
            <div class="input-group-append">
              <span class="input-group-text" id="showPassword">
                <i class="bi bi-eye"></i>
              </span>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <div
        id="errorDiv"
        class="alert alert-danger <%= typeof error !== 'undefined' && error ? 'show' : 'hidden' %>"
      >
        <%= typeof error !== 'undefined' ? error : '' %>
      </div>
    </div>
  </body>

  <script src="/js/login.js"></script>
</html>
